<section class="page-section carousel-container container-lg">
  <div class="carousel-header">
    <h2>Recent New</h2>
    <a href="/blog">See all</a>
  </div>
  <div class="row g-3 p-3">
    {{ range ( where site.RegularPages "Section" "blog" | first 3 ) }}
    <div class="col-md-4">
      <div class="card">
        <img
          src="{{ .Params.image }}"
          class="card-img-top"
          alt="{{ .Title }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ .Title }}</h5>
          <p class="card-text">{{ .Summary }}</p>
          <a href="{{ .Permalink }}" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
